<div
  id="carouselExampleAutoplaying"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="assets/images/slider/car3.jpg"
        class="d-block w-100"
        alt="Slider Image"
        width="1100"
        height="350"
        srcset="assets/images/slider/car3.jpg 1100w"
        sizes="(min-width: 1200px) 1100px,
                  (min-width: 992px) 800px,
                  (min-width: 768px) 600px,
                  400px"
      />
      <div class="carousel-caption d-none d-md-block">
        <h3>Konforlu Seyahat İçin Araba Kiralayın</h3>
        <p>
          Şehir içi veya şehirlerarası yolculuklarınızda, konforlu ve güvenilir
          araçlarımızla her zaman yanınızdayız.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="assets/images/slider/car1.jpg"
        class="d-block w-100"
        alt="..."
        width="1100"
        height="350"
        srcset="assets/images/slider/car1.jpg 1100w"
        sizes="(min-width: 1200px) 1100px,
                  (min-width: 992px) 800px,
                  (min-width: 768px) 600px,
                  400px"
      />
      <div class="carousel-caption d-none d-md-block">
        <h3>Farklı İhtiyaçlar İçin Çeşitli Araç Seçenekleri</h3>
        <p>
          Aile araçlarından spor arabalara kadar geniş araç yelpazemizle
          ihtiyacınıza uygun seçeneği bulabilirsiniz.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="assets/images/slider/car2.jpg"
        class="d-block w-100"
        alt="..."
        width="1100"
        height="350"
        srcset="assets/images/slider/car2.jpg 1100w"
        sizes="(min-width: 1200px) 1100px,
                  (min-width: 992px) 800px,
                  (min-width: 768px) 600px,
                  400px"
      />
      <div class="carousel-caption d-none d-md-block">
        <h3>Hızlı ve Kolay Araç Kiralama Süreci</h3>
        <p>
          Online rezervasyon sistemi ile hızlı ve pratik bir şekilde istediğiniz
          aracı kiralayabilirsiniz.
        </p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Önceki</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Sonraki</span>
  </button>
</div>
