<app-basic-layout>
  <div class="mt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 mb-3 mb-lg-0">
          <app-slider></app-slider>
        </div>
        <div
          class="col-lg-4 col-md-12 d-flex flex-column justify-content-center"
        >
          <div class="icon-boxes">
            <a class="icon-box text-center">
              <div>
                <fa-icon
                  [icon]="icon"
                  size="2x"
                  style="color: #8b0000"
                ></fa-icon>
                <h4>Online Rezervasyon</h4>
              </div>
            </a>
            <a routerLink="/doctors" class="icon-box text-center">
              <div>
                <fa-icon
                  [icon]="carIcon"
                  size="2x"
                  style="color: #8b0000"
                ></fa-icon>
                <h4>Araçlarımız</h4>
              </div>
            </a>
            <a routerLink="/faq" class="icon-box text-center">
              <div>
                <fa-icon
                  [icon]="icon3"
                  size="2x"
                  style="color: #8b0000"
                ></fa-icon>
                <h4>Sıkça Sorulan Sorular</h4>
              </div>
            </a>
            <a routerLink="/branches" class="icon-box text-center">
              <div>
                <fa-icon
                  [icon]="buildingIcon"
                  size="2x"
                  style="color: #8b0000"
                ></fa-icon>
                <h4>Markalarımız</h4>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-5"></div>

    <div class="container mt-5">
      <div class="row mt-5">
        <div class="col-md-8">
          <h2>Neden AutoGO?</h2>
          <p>
            AutoGO, araç kiralama sektöründe müşteri memnuniyetini öncelikli
            hedefi olarak belirleyerek, sizin için en iyi deneyimi sunmayı
            amaçlıyor. Geniş araç filomuz, her ihtiyaca uygun seçenekler ile
            donatılmıştır ve her biri titizlikle bakımdan geçirilmiştir.
            Sektördeki yenilikçi yaklaşımımız ile, en son teknolojiye sahip
            araçlarımızı sizlere sunarak güvenli ve konforlu bir yolculuk
            deneyimi sağlıyoruz. Müşteri odaklı hizmet anlayışımız ile her
            bireye özel çözümler sunmaktayız. Hızlı ve kolay rezervasyon
            süreçlerimiz sayesinde, ihtiyacınıza uygun aracı dilediğiniz zaman
            ve yerde bulabilirsiniz. AutoGO, yılların verdiği tecrübe ve
            güvenilirliği ile hem yerel hem de uluslararası standartlarda
            kaliteli hizmet sunmaktadır. Araç kiralama ihtiyaçlarınız için
            güvenilir bir partner olarak, her zaman yanınızdayız.
          </p>
        </div>
        <div class="col-md-4 text-center">
          <img
            src="assets/images/homepage/13-years.png"
            class="img-fluid"
            alt="Banner-aside"
            style="margin-top: 40px"
          />
        </div>
      </div>
      <div class="d-flex justify-content-around mt-2">
        <div class="text-center mx-3">
          <fa-icon
            [icon]="smileIcon"
            size="3x"
            style="color: #8b0000"
          ></fa-icon>
          <p>Müşteri Memnuniyeti</p>
        </div>
        <div class="text-center mx-3">
          <fa-icon [icon]="leafIcon" size="3x" style="color: #8b0000"></fa-icon>
          <p>Sürdürülebilirlik</p>
        </div>
        <div class="text-center mx-3">
          <fa-icon
            [icon]="shieldIcon"
            size="3x"
            style="color: #8b0000"
          ></fa-icon>
          <p>Güvenilirlik</p>
        </div>
        <div class="text-center mx-3">
          <fa-icon
            [icon]="lightbulbIcon"
            size="3x"
            style="color: #8b0000"
          ></fa-icon>
          <p>Yenilikçilik</p>
        </div>
        <div class="text-center mx-3">
          <fa-icon [icon]="starIcon" size="3x" style="color: #8b0000"></fa-icon>
          <p>Kalite</p>
        </div>
      </div>
    </div>

    <div class="container step-section">
      <div class="row d-flex justify-content-center">
        <div
          class="banner-aside align-items-center d-md-flex col-lg-12 col-md-8 col-sm-8 col-10"
        >
          <figure class="col-12 col-lg-5 mr-lg-5 mr-md-3">
            <img
              src="assets/images/homepage/rent.png"
              class="img-aside"
              alt="Banner-aside"
              width="470"
              height="447"
            />
          </figure>
          <div class="banner-content">
            <h3 class="banner-title">
              Güvenli ve Konforlu Araç Kiralama Deneyimi
            </h3>
            <p>
              AutoGO olarak, araç kiralama sektöründe müşteri memnuniyetini en
              öncelikli hedefimiz olarak belirliyoruz. Geniş araç filomuz, her
              ihtiyaca uygun seçeneklerle donatılmıştır ve her araç titizlikle
              bakım yapılmış olarak sizlere sunulmaktadır.
              <br />
              Müşteri odaklı hizmet anlayışımızla, hızlı ve kolay rezervasyon
              süreçlerimiz sayesinde ihtiyaçlarınıza uygun aracı dilediğiniz
              zaman ve yerde bulmanızı sağlıyoruz. Her bir aracımız, en son
              teknolojilere sahip olup, güvenli ve konforlu bir yolculuk
              deneyimi sunmaktadır.
              <br />
              Hizmetlerimizle, hem yerel hem de uluslararası standartlarda
              kaliteli ve güvenilir bir araç kiralama deneyimi yaşatmayı
              amaçlıyoruz. AutoGO, araç kiralama ihtiyaçlarınızda her zaman
              yanınızda!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-basic-layout>
