<app-basic-layout>
  <h2 class="title">Sıkça Sorulan Sorular</h2>
  <p>
    Cevabını bulamadığınız sorular için
    <span style="font-weight: 600">çağrı merkezimiz</span> ile
    görüşebilirsiniz
  </p>

  <div class="accordion" id="accordionExample">
    <!-- Araba nasıl kiralayabilirim? -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Araba nasıl kiralayabilirim?
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Araba kiralamak için internet sitemiz üzerinden online rezervasyon
          sistemimizi kullanabilirsiniz. Ayrıca telefonla da kiralama
          yapabilirsiniz.
        </div>
      </div>
    </div>

    <!-- Araba nasıl iade edilir? -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Araba nasıl iade edilir?
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Kiraladığınız aracı iade etmek için internet sitemizdeki hesabınıza
          giriş yaparak veya çağrı merkezimizi arayarak iade işlemini
          gerçekleştirebilirsiniz.
        </div>
      </div>
    </div>

    <!-- Kiralama süresi ne kadar? -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Kiralama süresi ne kadar?
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="headingThree"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Standart bir araba kiralama süresi genellikle 24 saattir. Ancak isteğe
          bağlı olarak daha uzun süreli kiralamalar da yapılabilir.
        </div>
      </div>
    </div>

    <!-- Aracımı nereden alabilirim? -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingNine">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseNine"
          aria-expanded="false"
          aria-controls="collapseNine"
        >
          Aracımı nereden alabilirim?
        </button>
      </h2>
      <div
        id="collapseNine"
        class="accordion-collapse collapse"
        aria-labelledby="headingNine"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Araç teslimat noktalarımız hakkında detaylı bilgiyi iletişim
          sayfamızda bulabilirsiniz.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSix">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSix"
          aria-expanded="false"
          aria-controls="collapseSix"
        >
          Kiralık araçlarınız hangi modelleri içeriyor?
        </button>
      </h2>
      <div
        id="collapseSix"
        class="accordion-collapse collapse"
        aria-labelledby="headingSix"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Kiralık araçlarımız hakkında detaylı bilgi için web sitemizdeki
          araçlar sayfasını ziyaret edebilirsiniz.
        </div>
      </div>
    </div>

    <!-- Giriş Yapma -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="false"
          aria-controls="collapseFour"
        >
          Giriş yapmak için gerekenler nelerdir?
        </button>
      </h2>
      <div
        id="collapseFour"
        class="accordion-collapse collapse"
        aria-labelledby="headingFour"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Sistemimize giriş yapabilmek için internet sitemizden kullanıcı adı ve
          şifrenizle oturum açabilirsiniz.
        </div>
      </div>
    </div>

    <!-- Öneri ve Şikayet -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Öneri ve şikayetlerimi nereye iletebilirim?
        </button>
      </h2>
      <div
        id="collapseFive"
        class="accordion-collapse collapse"
        aria-labelledby="headingFive"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Öneri ve şikayetlerinizi iletmek için iletişim sayfamızdaki formu
          doldurabilir veya çağrı merkezimizi arayabilirsiniz.
        </div>
      </div>
    </div>
  </div>
</app-basic-layout>
