/* Custom CSS */
body {
  background-color: #ffffff;
}

.card {
  border-color: #8b0000;
  border-bottom: 5px;
  box-shadow: 0 0 10px #8b0000;
  max-width: 500px;
  margin: 0 auto; /* Kartı yatayda ortala */
}

.card-header {
  text-align: center;
  font-family: "Lora";
  color: #8b0000;
}

.btn-primary {
  background-color: #8b0000;
  border-color: #8b0000;
}

.btn-primary:hover {
  background-color: #8b0000;
  border-color: #8b0000;
}

/* Butonu ortala */
.btn-primary {
  margin-top: 20px;

  text-align: center;
}

h2 {
  margin-top: 10px;
  color: #8b0000;
  font-family: "Lora";
}

label {
  color: #8b0000;
  margin-bottom: 15px;
}

input {
  margin-bottom: 12px;
  border-color: #8b0000;
}

a {
  color: #8b0000;
}

.error-messages {
  margin-top: 0.5em; /* Yukarıdan boşluk bırak */
  padding: 0;
}

.error-messages small {
  font-size: 13px;
  color: #8b0000 !important;
  text-align: justify; /* İki tarafa da eşit şekilde hizala */
  display: block;
  margin: 0.5em 0; /* Yukarıdan ve aşağıdan boşluk bırak */
  padding: 0;
  width: 100%; /* Tam genişlik */
}
