<app-basic-layout>
    <div class="row">
      <h2 class="title">Araçlarımız</h2>
      <div class="col-md-12 d-flex justify-content-between align-items-center mb-3">
        <div class="d-flex align-items-center">
          <button class="btn btn-primary mr-2">Marka:</button>
          <div class="form-group mb-0 d-flex align-items-center"> 
            <select class="form-control mb-0" id="branchFilter" [(ngModel)]="selectedBranch" (change)="onBranchFilterChange($event)">
              <option value="" selected>Tüm Markalar</option>
              <option *ngFor="let branch of brands" [value]="branch.name">{{ branch.name }}</option>
            </select>
          </div>
        </div>
      </div>
      <div *ngFor="let car of cars" class="col-md-3">
        <div class="card border-danger mb-4">
          <img src="https://via.placeholder.com/180" class="card-img-top" alt="Doctor Image" style="max-height: 150px; max-width: 100%;" />
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center">{{ car.brandId}} {{ car.colorId}}</li>
              <li class="list-group-item text-center">{{ car.dailyPrice }} TL (günlük)</li>
              <li class="list-group-item text-center">{{ car.modelYear }} Model</li>
              <li class="list-group-item text-center">{{ car.description }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </app-basic-layout>
  