<footer class="bg-bordo text-light">
  <div class="b-example-divider"></div>
  <div class="container">
    <footer class="py-4">
      <div class="row text-center">
        <div class="col-6 col-md-4 mb-3">
          <h5>Hızlı Erişim</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a routerLink="/vehicles" class="nav-link p-0 text-darkk text-bordo"
                >Araç Filosu</a
              >
            </li>
            <li class="nav-item mb-2">
              <a routerLink="/pricing" class="nav-link p-0 text-darkk"
                >Fiyatlandırma</a
              >
            </li>
            <li class="nav-item mb-2">
              <a routerLink="/about" class="nav-link p-0 text-darkk"
                >Hakkımızda</a
              >
            </li>
            <li class="nav-item mb-2">
              <a routerLink="/contact" class="nav-link p-0 text-darkk"
                >Bize Ulaşın</a
              >
            </li>
          </ul>
        </div>

        <div class="col-6 col-md-4 mb-3">
          <h5>Müşteri Rehberi</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a
                routerLink="/rental-policy"
                class="nav-link p-0 text-darkk text-bordo"
                >Kiralama Politikası</a
              >
            </li>
            <li class="nav-item mb-2">
              <a routerLink="/faq" class="nav-link p-0 text-darkk">SSS</a>
            </li>
            <li class="nav-item mb-2">
              <a routerLink="/terms" class="nav-link p-0 text-darkk"
                >Hizmet Şartları</a
              >
            </li>
            <li class="nav-item mb-2">
              <a routerLink="/privacy" class="nav-link p-0 text-darkk"
                >Gizlilik Politikası</a
              >
            </li>
          </ul>
        </div>

        <div class="col-6 col-md-4 mb-3">
          <h5>Online Hizmetler</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a routerLink="/booking" class="nav-link p-0 text-darkk text-bordo"
                >Hızlı Araç Kirala</a
              >
            </li>
            <li class="nav-item mb-2">
              <a routerLink="/login" class="nav-link p-0 text-darkk text-bordo"
                >Hemen Üye Ol</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div
        class="d-flex flex-column flex-sm-row justify-content-between py-2 my-2 border-top"
      >
        <p class="text-darkk">&copy; 2024 AutoGO. Tüm hakları saklıdır.</p>
        <ul class="list-unstyled d-flex mb-0">
          <li class="ms-3">
            <a
              class="link-body-emphasis"
              href="https://twitter.com/autogo"
              target="_blank"
              ><i class="fab fa-twitter fa-2x"></i
            ></a>
          </li>
          <li class="ms-3">
            <a
              class="link-body-emphasis"
              href="https://instagram.com/autogo"
              target="_blank"
              ><i class="fab fa-instagram fa-2x"></i
            ></a>
          </li>
          <li class="ms-3">
            <a
              class="link-body-emphasis"
              href="https://facebook.com/autogo"
              target="_blank"
              ><i class="fab fa-facebook fa-2x"></i
            ></a>
          </li>
          <li class="ms-3">
            <a
              class="link-body-emphasis"
              href="mailto:info@autogo.com"
              target="_blank"
              ><i class="fas fa-envelope fa-2x"></i
            ></a>
          </li>
        </ul>
      </div>
    </footer>
  </div>
</footer>
